<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <div class="container">
        <div class="row my-2">
            <!-- User Details -->
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>CompanyNo</h6>
                                <p th:text="${'- ' + teacher.getCompanyNo()}"></p>
                                <h6>Tel</h6>
                                <p th:text="${'- ' + teacher.getTel()}">- </p>
                                <h6>Birth</h6>
                                <p th:text="${'- ' + teacher.getBirth()}">- </p>
                                <h6>CreatedAt</h6>
                                <p th:text="${'- ' + teacher.getCreatedAt().toString()}">- </p>
                            </div>
                            <div class="col-md-6">
                                <h6>Name</h6>
                                <p th:text="${'- ' + teacher.getName()}">- </p>
                                <h6>Email</h6>
                                <p th:text="${'- ' + teacher.getEmail()}">- </p>
                                <h6>Gender</h6>
                                <p th:text="${'- ' + teacher.getGender()}">- </p>
                                <h6>UpdatedAt</h6>
                                <p th:text="${'- ' + teacher.getUpdatedAt().toString()}">- </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./User Details -->

            <!-- User Photo -->
            <div class="col-lg-4 order-lg-1 text-center">
                <img th:src="${teacher.getImageUrl()}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control">Choose file</span>
                </label>
                <button id="logout">Logout</button>
            </div>
            <!-- ./User Photo -->
        </div>
    </div>
</div>
